<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.beoni.openwaterswimtrackingwear">

    <uses-feature android:name="android.hardware.type.watch"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.beoni.openwaterswimtrackingwear.action.GPS_LOCATION_CHANGED"/>
            </intent-filter>
        </activity>

        <service
            android:name=".GPSTrackingIntService"
            android:exported="false">
        </service>

        <receiver
            android:name=".GPSLocationChangeReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.beoni.openwaterswimtrackingwear.action.GPS_LOCATION_CHANGED"/>
            </intent-filter>
        </receiver>

        <uses-library
            android:name="com.google.android.wearable"
            android:required="false"/>

        <activity
            android:name=".GPSTrackActivity"
            android:label="@string/title_activity_gpstrack"
            android:theme="@android:style/Theme.DeviceDefault.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>