<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.beoni.openwaterswimtracking">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- <uses-permission android:name="android.permission.WAKE_LOCK"/> NOT NEEDED -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoBar">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/gmap_api_key"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity_"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/AppThemeNoBar">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SwimEditActivity_"
            android:label="@string/edit_swim_activity_label"
            android:theme="@style/AppThemeNoBar">
        </activity>
        <activity
            android:name=".BackupActivity_"
            android:label="@string/backup_activity_label"
            android:theme="@style/AppThemeNoBar"/>
        <activity android:name=".MainActivity"/>

        <receiver android:name=".SwimmingGraphWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/swimminh_graph_widget_info"/>
        </receiver>

        <service
            android:name=".WearMessageListener"
            android:enabled="true"
            android:exported="true"> <!-- needed to work properly -->
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data android:scheme="wear" android:host="*" />
            </intent-filter>
        </service>
    </application>

</manifest>